/* SPECIAL CLASSES */

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.text-green {
    color: #18CFAB;
}

.text-white {
    color: white;
}

.icon {
    background-image: url(../assets/icons/icon_sprites.png);
}

.hidden,
.closed {
    display: none;
}

/* h2 header */

.section-header {
    font-size: 36px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 36px;
}

/* Separator */

.separator {
    margin-bottom: 70px;
}

.separator::before,
.separator::after {
    content: "";
    display: block;
    width: 76px;
    height: 2px;
    background: #18CFAB;
    margin: 0 auto;
}

.separator::before {
    margin-bottom: 3px;
    transform: translateX(-7px);
}

.separator::after {
    transform: translateX(7px);
}

/* Load more btn */

.load-more-btn {
    background: #18CFAB;
    color: white;
    text-align: center;
    margin: 0 auto;
    border: none;
    outline: none;
    padding: 0 22px;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
    display: block;
    cursor: pointer;
}
.load-more-btn i {
    margin-right: 5px;
}

/* Dark sections */

.darked {
    position: relative;
}

.darked > * {
    position: relative;
    z-index: 1;
}

.darked::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: black;
    opacity: 0.4;
}

/* Loading block */

.loading-block {
    margin: 0 auto 16px;
    width: 300px;
    height: 14px;
    border: 1px solid #BBB;
    box-shadow: 0 0 4px #BBB;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
}

.loader {
    height: 100%;
    width: 0;
    background: #18CFAB;
}

/* --------------------------------------- */

/* MENU */

.main-menu {
    background-color: rgba(73, 71, 63, 0.6);
    height: 120px;
    margin-bottom: 200px;
}

.main-menu__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.logo {
    display: block;
    width: 197px; 
    height: 67px;
}

.main-menu__wrapper {
    display: flex;
    height: 100%;
}

.main-menu__items {
    display: flex;
    align-items: center;
    height: 100%;
}

.main-menu__item {
    height: 100%;
    line-height: 120px;
}

.main-menu__link {
    color: #B8B8B8;
    display: block;
    height: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    margin: 0 10px;
    transition: 0.2s;
}

.main-menu__link:hover,
.main-menu__search:hover {
    color: #18CFAB;
    border-bottom: 1px solid #18CFAB;
}

.main-menu__search {
    color: #B8B8B8;
    line-height: 120px;
    font-size: 24px;
    margin-left: 10px;
}

/* HEADER */

.main-header {
    background: url("../assets/Sections\ background/section-1(header).jpg");
    background-attachment: fixed;
    padding-bottom: 200px;
    background-size: cover;
}

.subtitle,
.title,
.title-info {
    text-align: center;
}

.subtitle,
.title {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.subtitle {
    font-size: 35px;
    margin-bottom: 45px;
}

.title {
    font-size: 69px;
    margin-bottom: 36px;
}

.title-info {
    color: #D4D4D4;
    font-size: 30px;
    margin-bottom: 140px;
}

.header-buttons {
    display: flex;
    justify-content: center;
}

.green-btn,
.blue-btn {
    width: 167px;
    height: 62px;
    color: white;
    border: none;
    border-top: 4px solid white;
    border-radius: 4px;
    text-transform: uppercase;
    margin: 0 14px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    outline: none;
}

.green-btn {
    background: #18CFAB;
}

.blue-btn {
    background: #00CBF6;
}

/* SECTION 1 */

.section1 {
    display: flex;
}

.section1-block {
    width: 25%;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 67px;
}

.section1-icon-block {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.section1-block:nth-child(odd) {
    background: #1C2A33;
    border-top: 4px solid #18CFAB;
}

.section1-block:nth-child(even) {
    background: #18CFAB;
    border-top: 4px solid white;
}

.section1-block:nth-child(1) .section1-block__icon {
    width: 59px;
    height: 98px;
    background-position: 0 -144px;
}
.section1-block:nth-child(2) .section1-block__icon {
    width: 94px; 
    height: 76px;
    background-position: -100px -67px;
}
.section1-block:nth-child(3) .section1-block__icon {
    width: 61px;
    height: 97px;
    background-position: -197px 0;
}
.section1-block:nth-child(4) .section1-block__icon {
    width: 100px; 
    height: 77px;
    background-position: 0 -67px;
}

.section1-block__text {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

/* SECTION 2 */

.section2 {
    padding-top: 80px;
    padding-bottom: 100px;
}

.section2-menu {
    display: flex;
    margin-bottom: 25px;
}

.section2-menu__item {
    width: 100%;
    text-align: center;
    height: 73px;
    line-height: 73px;
    background: #F8FCFE;
    border: 1px solid #EEEEEF;
    color: #717171;
    cursor: pointer;
}

.section2-menu__active {
    background: #18CFAB;
    border: 1px solid #18CFAB;
    position: relative;
    color: white;
}

.section2-menu__active::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: #18CFAB;
    position: absolute;
    left: 50%;
    transform: rotate(45deg) translateX(-50%);
    bottom: -15px;
}



.section2-info-block__data {
    display: none;
}

.section2-visible {
    display: flex;
}

.section2-info__img {
    display: block;
    width: 16.75%;
}

.section2-info__text {
    margin-left: 20px;
    font-size: 14px;
    color: #777;
    line-height: 24px;
    text-align: justify;
}

/* SECTION 3 */

.section3 {
    background-image: url(../assets/Sections\ background/section-2.jpg);
    text-align: center;
    padding: 130px 0;
    background-position: center;
}

.section3::after {
    opacity: 0.7;
}

.section3-header {
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 35px;
}

.section3-subtitle {
    margin-bottom: 75px;
    color: #D8D8D8;
}

/* SECTION 4 */

.section4 {
    background: #F8FCFE;
    padding: 100px 0;
    border-bottom: 1px solid #E1E1E1;
}

.section4-nav__items {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.section4-nav__link {
    padding: 0 30px;
    height: 58px;
    display: block;
    line-height: 58px;
    background: white;
    font-size: 14px;
    border: 1px solid #EBEBEB;
    color: #777;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
}

.section4-nav__active {
    color: #18CFAB;
    transition: 0.2s;
}

.section4-nav__active::before {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% + 3px);
    height: 3px;
    background: #18CFAB;
    top: -3px;
    left: -1px;
}

/* Section 4 grid */

.section4-grid {
    display: grid;
    margin-bottom: 70px;
    grid-template-columns: repeat(4, 1fr);
}

.section4-grid__img {
    width: 100%;
    display: block;
}

.section4-grid__element {
    overflow: hidden;
    position: relative;
}

.section4-grid__hover-block {
    position: absolute;
    height: 100%;
    bottom: -100%;
    background: #F8FCFE;
    border-top: 4px solid #18CFAB;
    box-sizing: border-box;
    width: 100%;
    transition: 0.2s;
}

.section4-grid__element:hover .section4-grid__hover-block{
    bottom: 0;
}



.section4-grid__icons {
    display: flex;
    justify-content: center;
    margin-top: 42px;
    margin-bottom: 34px;
}

.section4-grid__icons *{
    border: 1px solid #18CFAB;
    border-radius: 50%;
    font-size: 18px;
    padding: 14px;
    color: #18CFAB;
    transition: 0.2s;
    margin: 0 2px;
    cursor: pointer;
}

.section4-grid__icons *:hover {
    background: #18CFAB;
    color: white;
}

.section4-grid__title {
    text-transform: uppercase;
    color: #18CFAB;
    text-align: center;
    margin-bottom: 14px;
}

.section4-grid__category {
    color: #8A8A8A;
    text-align: center;
    font-size: 14px;
}


/* SECTION 5 */

.section5 {
    padding: 130px 0;
}

.section5-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px 28px;
}

.section5-grid__card {
    text-decoration: none;
}

.section5-grid__header {
    position: relative;
}

.section5-grid__card-date {
    transition: 0.2s;
    position: absolute;
    background: #203E38;
    width: 70px;
    line-height: 24px;
    padding: 10px 20px;
    text-align: center;
    box-sizing: border-box;
    color: white;
    top: 0;
    right: 0;
}

.section5-grid__card-image {
    width: 100%;
    display: block;
}

.section5-grid__card-body {
    background: #F8FCFE;
    padding: 14px 0 12px 15px;
    border: 1px solid #EBEBEB;
}

.section5-grid__title {
    transition: 0.2s;
    color: #717171;
    margin-bottom: 14px;
    font-size: 18px;
}

.section5-grid__text {
    color: #777;
    font-size: 14px;
}

.section5-grid__card:hover .section5-grid__title {
    color: #18CFAB;
}

.section5-grid__card:hover .section5-grid__card-date {
    background: #18CFAB;
}


/* SECTION 6 */

.section6 {
    background-image: url(../assets/Sections\ background/section-3.jpg);
    background-size: cover;
    padding: 100px 0;
}

.quotes-icon {
    background-position: -197px -97px;
    width: 45px; 
    height: 31px;
    margin: 0 auto;
    margin-bottom: 44px;
}

/* SLIDER */

.slider {
    overflow: hidden;
    padding-bottom: 10px;
}

.slide-content {
    display: flex;
    transform: translateX(-1200px);
}

.slide-page {
    min-width: 100%;
    text-align: center;
}

.slide-page__text {
    color: #BBB;
    line-height: 24px;
    margin-bottom: 40px;
}

.slide-page__name {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.slide-page__position {
    font-size: 14px;
    color: #BBB;
    font-weight: 300;
    margin-bottom: 36px;
}

.slide-page__face {
    width: 140px;
    height: 140px;
    border: 2px solid #18CFAB;
    border-radius: 50%;
    margin: 0 auto 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 0 10px rgba(12, 85, 71, 0.5);
}

.slide-page:nth-child(1) .slide-page__face {
    background-image: url(../assets/faces/face4.png);
}
.slide-page:nth-child(2) .slide-page__face {
    background-image: url(../assets/faces/face1.png);
}
.slide-page:nth-child(3) .slide-page__face {
    background-image: url(../assets/faces/face2.png);
}
.slide-page:nth-child(4) .slide-page__face {
    background-image: url(../assets/faces/face3.png);
}
.slide-page:nth-child(5) .slide-page__face {
    background-image: url(../assets/faces/face4.png);
}
.slide-page:nth-child(6) .slide-page__face {
    background-image: url(../assets/faces/face1.png);
}

/* Slider panel */

.slider-controls {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-arrow {
    width: 30px;
    height: 30px;
    border: 1px solid #BBB;
    position: relative;
    transition: 0.2s;
    margin: 0 13px;
    cursor: pointer;
}

.slider-arrow::before {
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-top: 1px solid #BBB;
    border-right: 1px solid #BBB;
    top: 50%;
    left: 50%;
}

.slider-arrow:nth-of-type(1)::before {
    transform: translate(-20%, -50%) rotate(-135deg);
}
.slider-arrow:nth-of-type(6)::before {
    transform: translate(-80%, -50%) rotate(45deg);
}

.slider-arrow:hover {
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
}

.slider-arrow:hover::before {
    border-top: 1px solid white;
    border-right: 1px solid white;
}


.face-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 20px;
    background-size: 125%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 2px solid transparent;
    box-shadow: 0 0 0 4px rgba(12, 85, 71, 0.5);
}

.face-img:nth-of-type(2) {
    background-image: url(../assets/faces/face1.png);
}
.face-img:nth-of-type(3) {
    background-image: url(../assets/faces/face2.png);
}
.face-img:nth-of-type(4) {
    background-image: url(../assets/faces/face3.png);
}
.face-img:nth-of-type(5) {
    background-image: url(../assets/faces/face4.png);
}

.face-active {
    border: 2px solid #18CFAB;
    transform: translateY(-10px);
    transition: 0.2s;
}


/* SECTION 7 */

.section7 {
    padding: 100px 0 80px;
}

.section7-grid__container {
    margin-bottom: 66px;
}

.section7-element-styled {
    position: relative;
}

/* GRID OPTIONS */

.section7-grid__element-6 {
    margin-bottom: 10px;
    width: 390px;
}

.section7-grid__element-3 {
    width: 190px;
}

.section7-grid__element-2 {
    width: 125px;
}

.section7-grid__element-6-3-cols .section7-element-styled:nth-child(4), 
.section7-grid__element-6-3-cols .section7-element-styled:nth-child(5), 
.section7-grid__element-6-3-cols .section7-element-styled:nth-child(6) {
    margin: 5px 0;
}

.section7-grid__image {
    display: block;
    margin: 0 auto;
    width: 100%;
}

/* --------------- */

.section7-grid__hover {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    animation: fade;
    animation-duration: 0.2s;
    animation-direction: alternate;
    animation-play-state: paused;
}

.section7-grid__hover > i {
    background: #00CBF6;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
    margin: 0 5px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.section7-element-styled:hover .section7-grid__hover {
    display: flex;
    animation-play-state: running;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



/* FOOTER */

.main-footer {
    background: #22353F;
    height: 100px;
    margin-bottom: 10px;
}

.footer-text {
    line-height: 100px;
    text-align: center;
    color: #AEAEAE;
}

.footer-anchor {
    text-decoration: none;
}